{% extends 'core/base.html' %}

{% load static %}

{% block title %}Reporte de pólizas{% endblock %}

{% block content %}
<div class="position-relative">
    <h1>Reporte de pólizas</h1>
    <button id="toggleVencidas" class="btn btn-secondary mb-2 position-absolute top-50 end-0 translate-middle-y">
        Ocultar pólizas vencidas
    </button>
</div>

<div class="card shadow">
    <table id="tabla_reporte_polizas" class="table">
        <thead>
            <tr>
                <th scope="col">Número de póliza</th>
                <th scope="col">Aseguradora</th>
                <th scope="col">Agente</th>
                <th scope="col">Cliente</th>
                <th scope="col">Tipo de póliza</th>
                <th scope="col">Forma de pago</th>
                <th scope="col">Método de pago</th>
                <th scope="col">Prima</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
            </tr>
        </thead>
        <tbody id="contenido">
            {% for poliza in polizas %}
                <tr>
                    <th scope="row" data-label="Número de póliza">{{poliza.id}}</th>
                    <td data-label="Aseguradora">{{poliza.aseguradoraid}}</td>
                    <td data-label="Agente">{{poliza.agenteid}}</td>
                    <td data-label="Cliente">{{poliza.clienteid}}</td>
                    <td data-label="Tipo de póliza">{{poliza.tipopolizaid}}</td>
                    <td data-label="Forma de pago">{{poliza.formapagoid}}</td>
                    <td data-label="Método de pago">{{poliza.metodopagoid}}</td>
                    <td data-label="Prima">{{poliza.prima}}</td>
                    <td data-label="Fecha de inicio">{{poliza.fechainicio}}</td>
                    <td data-label="Fecha de fin">{{poliza.fechafin}}</td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'reportes/js/reportes.js' %}"></script>
{% endblock %}